<div class="layout">
	<div class="header">
		<app-toolbar 
			[tests]="tests"
			[isLoading]="isTestsLoading"
			[isTestStarted]="isTestStarted"
			[isTestStoped]="isTestStoped"
			(selectChange)="onSelectChange($event)" 
			(startTest)="onStartTest($event)" 
			(stopTest)="onStopTest($event)"
		></app-toolbar>
	</div>
	<mat-progress-bar mode="indeterminate" [value]="testProgression" *ngIf="isTestInProgress"></mat-progress-bar>
	<div class="main">
		<div class="content">
			
			<div class="content-top">
				<app-view [test]="selectedTest" [isTestStarted]="isTestStarted" [isTestStoped]="isTestStoped"></app-view>
			</div>
			<div class="content-bottom">
				<app-logs [test]="selectedTest" [isTestStarted]="isTestStarted" [isTestStoped]="isTestStoped"></app-logs>
			</div>

		</div>
		<div class="sidebar">
			<app-steps [test]="selectedTest"></app-steps>
		</div>
	</div>
	<!-- <div class="footer">
		<app-footer></app-footer>
	</div> -->
</div>