<div class="layout">
	<div class="header">
		<app-toolbar 
			[tests]="tests"
			[isLoading]="isTestsLoading"
			[isTestStarted]="isTestStarted"
			[isTestStoped]="isTestStoped"
			(selectChange)="onSelectChange($event)" 
			(startTest)="onStartTest($event)"
			(stopTest)="onStopTest($event)"
		></app-toolbar>
	</div>
	<mat-progress-bar mode="indeterminate" *ngIf="isTestInProgress()"></mat-progress-bar>
	<div class="main">
		<div class="content">
			
			<div class="content-top">
				<app-io [test]="selectedTest" [fileContent]="ioFileContent"></app-io>
			</div>
			<!-- <div class="content-bottom">
				<app-logs [test]="selectedTest" [fileContent]="logFileContent"></app-logs>
			</div> -->

		</div>
		<!-- <div class="sidebar">
			<app-steps [test]="selectedTest" [fileContent]="statusFileContent"></app-steps>
		</div> -->
	</div>
	
</div>