<div class="layout">
	<div class="header">
		<app-toolbar 
			[tests]="tests"
			[isLoading]="isTestsLoading"
			(selectChange)="onSelectChange($event)"
			(executeTest)="onExecuteTest($event)"
			[testExecutionStatus]="currentTestStatus"
		></app-toolbar>
	</div>
	<mat-progress-bar mode="indeterminate" *ngIf="false"></mat-progress-bar>
	<div class="main">
		<div class="content">
			
			<div class="content-top">
				<app-io [test]="selectedTest" [fileContent]="ioFileContent"></app-io>
			</div>
			<div class="content-bottom">
				<app-logs [test]="selectedTest" [fileContent]="logFileContent"></app-logs>
			</div>

		</div>
		<div class="sidebar">
			<!-- <app-steps [test]="selectedTest" [fileContent]="statusFileContent"></app-steps> -->

			<div class="sidebar-top">
				<app-steps [test]="selectedTest" [fileContent]="statusFileContent"></app-steps>
			</div>
			<div class="sidebar-bottom" *ngIf="currentExecution">
				<app-exec [fileContent]="currentExecution"></app-exec>
			</div>

		</div>
	</div>
	
</div>