<app-layout actionAlign="start">
	<div class="header">
		<h2>
			Logs
			<span *ngIf="test">for "{{ test.label }}"</span>
			<small *ngIf="fileToLoad"> ({{ fileToLoad }})</small>
		</h2>
		<mat-spinner *ngIf="isLoading" class="mat-spinner"></mat-spinner>
	</div>
	<div class="body">
		<pre> {{fileContent}} </pre>
	</div>
	<div class="actions">
		<button mat-button color="primary" [disabled]="isLoading">Refresh</button>
	</div>
	<div class="footer">
		<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
	</div>
</app-layout>