<mat-toolbar>
	<span class="title">{{ appName }}</span>

	<span class="spacer"></span>

	<mat-spinner *ngIf="isLoading" class="mat-spinner"></mat-spinner>

	<div [formGroup]="headerForm" #formDirective="ngForm" *ngIf="!isLoading && tests && tests.length > 0">
		<mat-form-field hintLabel="Used to select a test to execute">
			<mat-label>Test</mat-label>
			<mat-select formControlName="test" class="col">
				<mat-option *ngFor="let test of tests" [value]="test.id">
					{{ test.label }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	
		<button mat-flat-button *ngIf="selectedTest" (click)="OnStartTest()">
			Start
		</button>
		<button mat-flat-button *ngIf="selectedTest" (click)="OnStopTest()">
			Stop
		</button>

	</div>
</mat-toolbar>

<!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->