<mat-toolbar>
	<span class="title">{{ appName }}</span>

	<span class="spacer"></span>

	<div class="" [formGroup]="headerForm" #formDirective="ngForm" *ngIf="tests && tests.length > 0">
		<mat-form-field hintLabel="Used to select a test to execute">
			<mat-label>Test</mat-label>
			<mat-select formControlName="test" class="col">
				<mat-option *ngFor="let test of tests" [value]="test.id">
					{{ test.label }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	
		<button mat-flat-button *ngIf="selectedTest" (click)="OnStartTest()">
			Start
		</button>
		<button mat-flat-button *ngIf="selectedTest" (click)="OnStopTest()">
			Stop
		</button>

	</div>

</mat-toolbar>